{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Master Bill Of Ladding</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Master Bill of Ladding No</th>
      <th scope="col">Shipper</th>
      <th scope="col">Consignee1</th>
      <th scope="col">Notify party</th>
      <th scope="col">Ocean Vesssel</th>
      <th scope="col">Voyage No.</th>
      <th scope="col">Port of Loading</th>
      <th scope="col">Port of Discharge</th>
      <th scope="col">Final Destination</th>
      <th scope="col">No of packages/Description</th>
      <th scope="col">Gross Weight</th>
      <th scope="col">Measurement</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">molu1800338210
</td>
      <td scope="col">Be Forward CO . Ltd
</td>
      <td scope="col">StanMore Holdings Ltd
</td>
      <td scope="col">Transfrieght Logistics
</td>
      <td scope="col">Marguerite Ace
</td>
      <td scope="col">0087A
</td>
      <td scope="col">YOKOHAMA
</td>
      <td scope="col">MOMBASA
</td>
      <td scope="col">REGIONAL LOGISTICS CENTER
</td>
      <td scope="col">3 UNITS
</td>
      <td scope="col">4980
</td>
      <td scope="col">42.588
</td>
    </tr>
  </tbody>
</table>
</div>

{% endblock %}