{% extends 'base.html' %}
{% load static %}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Master Bill Of Ladding</h1>
    <button type="button" class="btn btn-primary js-create-invoice" data-url="{% url 'invoice_create' %}">
      <span class="glyphicon glyphicon-plus"></span>
      Create a Master Bill
    </button>
  </p>
    <table class="table table-stripped" id="mastertable" id="invoice-table">
  <thead>
    <tr>
      <th>Master Bill of Ladding No</th>
      <th>Shipper Name</th>
      <th>Consignee1</th>
      <th>Notify party</th>
      <th>Ocean Vesssel</th>
      <th>Voyage No.</th>
      <th>Port of Loading</th>
      <th>Port of Discharge</th>
      <th>Final Destination</th>
      <th>No of packages/Description</th>
      <th>Gross Weight</th>
      <th>Measurement</th>
    </tr>
  </thead>
  <tbody>
     {% include "partial_invoice_list.html" %}
  </tbody>
</table>
</div>
<div class="modal fade" id="modal-invoice">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
      </div>
    </div>
  </div>

{% endblock %}