{% extends 'base.html' %}
{% load static %}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Master Bill Of Ladding</h1>
    <p>
    <button type="button" class="btn btn-primary js-create-invoice">
      <span class="glyphicon glyphicon-plus"></span>
      Create an Invoice
    </button>
  </p>
    <table class="table" id="invoice-table">
  <thead>
    <tr>
      <th scope="col">Master Bill of Ladding No</th>
      <th scope="col">Shipper</th>
      <th scope="col">Consignee1</th>
      <th scope="col">Notify party</th>
      <th scope="col">Ocean Vesssel</th>
      <th scope="col">Voyage No.</th>
      <th scope="col">Port of Loading</th>
      <th scope="col">Port of Discharge</th>
      <th scope="col">Final Destination</th>
      <th scope="col">No of packages/Description</th>
      <th scope="col">Gross Weight</th>
      <th scope="col">Measurement</th>
    </tr>
  </thead>
  <tbody>{% include 'partial_invoice_list.html' %}</tbody>
</table>
</div>
<div class="modal fade" id="modal-invoice">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>

{% endblock %}