{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Master Bill Of Ladding</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">FILE REF
</th>
      <th scope="col">House Bill of Ladding No Secondary
</th>
      <th scope="col">Consignee2</th>
      <th scope="col">Qty</th>
      <th scope="col">Vehicle Details</th>
      <th scope="col">Weight
</th>
      <th scope="col">Measurement
</th>
      <th scope="col">CFS
</th>
      <th scope="col">DESTINATION
</th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">SHL201909000044

</td>
      <td scope="col">BFKS00278014



</td>
      <td scope="col">YASSIN MALIK TRADING LTD</td>
      <td scope="col">1
</td>
      <td scope="col">USED TOYOTA HIACE VAN</td>
      <td scope="col">2050</td>
      <td scope="col">17.279</td>
      <td scope="col">REGIONAL LOGISTICS CENTER</td>
      <td scope="col">UGANDA</td>
    </tr>
    <tr>
      <td scope="row">SHL201909000044</td>
      <td scope="col">BFKS00278027</td>
      <td scope="col">YASSIN MALIK TRADING LTD</td>
      <td scope="col">1</td>
      <td scope="col">USED TOYOTA PROBOX</td>
      <td scope="col">1040</td>
      <td scope="col">10.763</td>
      <td scope="col">REGIONAL LOGISTICS CENTER</td>
      <td scope="col">UGANDA</td>
    </tr>

  </tbody>
</table>
</div>

{% endblock %}