{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>House Manifest</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Date of Loading
</th>
      <th scope="col">Shipper Name
</th>
      <th scope="col">Shipper Address
</th>
      <th scope="col">Shipper City
</th>
      <th scope="col">Shipper Country
</th>
      <th scope="col">Shiper Tel
</th>
      <th scope="col">Shipper Email
</th>
      <th scope="col">VESSEL
</th>
      <th scope="col">Voyarge No
</th>
      <th scope="col">Port of Loading
</th>
      <th scope="col">CFS
</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">molu1800338210
</td>
      <td scope="col">Be Forward CO . Ltd
</td>
      <td scope="col">StanMore Holdings Ltd
</td>
      <td scope="col">Transfrieght Logistics
</td>
      <td scope="col">Marguerite Ace
</td>
      <td scope="col">0087A
</td>
      <td scope="col">YOKOHAMA
</td>
      <td scope="col">MOMBASA
</td>
      <td scope="col">REGIONAL LOGISTICS CENTER
</td>
      <td scope="col">3 UNITS
</td>
      <td scope="col">4980
</td>
     
    </tr>
  </tbody>
</table>
</div>

{% endblock %}