{% for ship in invoices %}
    <tr>
      <td>{{ ship.ladding_no }}</td>
      <td><a href="{% url 'cargo_detail' ship.id %}">{{ ship.shipper }}</a></td>
      <td>{{ ship.consignee1 }}</td>
      <td>{{ ship.notify_party }}</td>
      <td>{{ ship.ocean_vessel }}</td>
      <td>{{ ship.voyage_no }}</td>
      <td>{{ ship.pol }}</td>
      <td>{{ ship.pod }}</td>
      <td>{{ ship.final_destination }}</td>
      <td>{{ ship.description }}</td>
      <td>{{ ship.gross_weight }}</td>
      <td>{{ ship.measurement }}</td>

    </tr>
{% empty %}
    <tr>
      <td colspan="14">Sorry There is no consignment yet</td>
	   </tr>
{% endfor %}
